<template>
    <div>
        <footer class="">
            <div class="main-ftr">
                <div class="container">
                    <div class="row">
                        <div class="col-md-2">
                            <h3>Quick Links</h3>
                            <ul>
                                <li><a href="#">Home</a></li>
                                <li><a href="#">About us</a></li>
                                <li><a href="#">Menu</a></li>
                                <li><a href="#">Reservation</a></li>
                                <li><a href="#">Gallery</a></li>
                                <li><a href="#">Blog</a></li>
                                <li><a href="#">Contact Us</a></li>
                            </ul>
                        </div>
                        <div class="col-md-3">
                            <h3>Opening Hours</h3>
                            <ul>
                                <li><a href="#">Mon - Fri: 4:00am - 11pm</a></li>

                            </ul>
                            <h3>Check out our offers and follow us on</h3>
                            <ul>
                                <li><a href="#"  target="_blank">Facebook</a></li>
                                <li><a href="#" target="_blank"> Instagram</a></li>

                            </ul>

                        </div>
                        <div class="col-md-3">
                            <h3>Contact Us</h3>
                            <ul>
                                <li><a href="#"><span>Phone:</span>0121 2422020</a></li>
                                <li><a href="#"><span>Email:</span>support@periperi.com</a></li>
                                <li><a href="#"><span>Address:</span>Birmingham,UK.</a></li>
                            </ul>
                        </div>
                        <div class="col-md-4">
                            <h3>Newsletter</h3>
                            <p>
                                Sign up with email address to
                                receive news and update.
                            </p>
                            <form>
                                <input type="email" name="">
                                <button></button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="copyright">
                <div class="container">
                    <p>2020 ©  <span>periperi.com</span>, All rights reserved</p>
                </div>
            </div>
        </footer>
    </div>
</template>
