<template>
    <div>
        <header-menu></header-menu>
        <section class="four-col">
            <div class="container">
                <div class="col-inner">
                    <div class="row c2">
                        <div class="col-md-12">
                            <div class="box about">

                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="">

                                            <h3>About Restaurent</h3>
                                            <p>This is dummy copy. It is not meant to be read. It has been placed here solely to demonstrate the look and feel of finished, typeset text. Only for show. He who searches for meaning here will be sorely disappointed. These words are here to provide the reader with a basic impression of how actual text will appear in its final presentation.</p>

                                            <p>Think of them merely as actors on a paper stage, in a performance devoid of content yet rich in form. That being the case, there is really no point in your continuing to read them</p>

                                            <a href="#" class="btn btn-primary cstm-btn">Read More</a>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="img-box">
                                            <img src="/images/about.png">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- <div class="artboard">
                    <div class="row">
                        <div class="col-md-2">
                            <img src="/images/artboard-1-8.png">
                        </div>
                        <div class="col-md-10">
                            <h3>Traditional English Classic <span style="color:#01a8fb;">Fresh Cod</span> Cooked to Order</h3>
                        </div>
                    </div>
                </div> -->
            </div>
        </section>
        <section class="popular">
            <div class="main-title">
                <div class="container">
                    <h3>Popular Dishes</h3>
                    <p>This is dummy copy. It is not meant to be read. It has been placed here solely to demonstrate the look and feel of finished, typeset text. Only for show. He who searches for meaning here will be sorely disappointed. </p>
                </div>
            </div>
            <div class="product-listing">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="p-carousel">
                                <div class="for-desktop">
                                    <b-carousel
                                          id="carousel-2"
                                          v-model="slide"
                                          :interval="2000"
                                          controls
                                          style="text-shadow: 1px 1px 2px #333;"
                                          @sliding-start="onSlideStart"
                                          @sliding-end="onSlideEnd">

                                          <b-carousel-slide>
                                              <ul>
                                                  <li>
                                                        <div class="p-img">
                                                          <a class="product-box" href="https://images.deliveryhero.io/image/fd-pk/LH/v5qm-listing.jpg">
                                                                <img class="img-fluid" src="/images/fd-1.png" alt="" />
                                                           </a>
                                                        </div>
                                                        <div class="p-content">
                                                            <div class="ct-body">
                                                                <h3>Dish Name one</h3>
                                                                <p>This is dummy copy. It is not meant to be read. It has been placed here solely to demonstrate the look and feel of finished, typeset text. Only for show.</p>
                                                            </div>
                                                            <div class="ct-ftr">
                                                                <ul>
                                                                    <li class="d-status">
                                                                        Home
                                                                        <span>Delivary</span>
                                                                    </li>
                                                                    <li class="d-cnt"><a href="#">1-008 005 006</a></li>
                                                                    <li class="d-price"><span>$</span>89.00</li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                  </li>
                                                  <li>
                                                        <div class="p-img">
                                                          <a class="product-box" href="https://images.deliveryhero.io/image/fd-pk/LH/v5qm-listing.jpg">
                                                                <img class="img-fluid" src="/images/fd-1.png" alt="" />
                                                           </a>
                                                        </div>
                                                        <div class="p-content">
                                                            <div class="ct-body">
                                                                <h3>Dish Name one</h3>
                                                                <p>This is dummy copy. It is not meant to be read. It has been placed here solely to demonstrate the look and feel of finished, typeset text. Only for show.</p>
                                                            </div>
                                                            <div class="ct-ftr">
                                                                <ul>
                                                                    <li class="d-status">
                                                                        Home
                                                                        <span>Delivary</span>
                                                                    </li>
                                                                    <li class="d-cnt"><a href="#">1-008 005 006</a></li>
                                                                    <li class="d-price"><span>$</span>89.00</li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                  </li>
                                                  <li>
                                                        <div class="p-img">
                                                          <a class="product-box" href="https://images.deliveryhero.io/image/fd-pk/LH/v5qm-listing.jpg">
                                                                <img class="img-fluid" src="/images/fd-1.png" alt="" />
                                                           </a>
                                                        </div>
                                                        <div class="p-content">
                                                            <div class="ct-body">
                                                                <h3>Dish Name one</h3>
                                                                <p>This is dummy copy. It is not meant to be read. It has been placed here solely to demonstrate the look and feel of finished, typeset text. Only for show.</p>
                                                            </div>
                                                            <div class="ct-ftr">
                                                                <ul>
                                                                    <li class="d-status">
                                                                        Home
                                                                        <span>Delivary</span>
                                                                    </li>
                                                                    <li class="d-cnt"><a href="#">1-008 005 006</a></li>
                                                                    <li class="d-price"><span>$</span>89.00</li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                  </li>
                                              </ul>
                                          </b-carousel-slide>


                                    </b-carousel>
                                </div>
                                <div class="for-mob">
                                    <b-carousel
                                          id="carousel-2"
                                          v-model="slide"
                                          :interval="2000"
                                          controls
                                          style="text-shadow: 1px 1px 2px #333;"
                                          @sliding-start="onSlideStart"
                                          @sliding-end="onSlideEnd">

                                          <b-carousel-slide>
                                              <ul>
                                                  <li style="width: 100%;">
                                                        <div class="p-img">
                                                          <a class="product-box" href="https://images.deliveryhero.io/image/fd-pk/LH/v5qm-listing.jpg">
                                                                <img class="img-fluid" src="/images/fd-1.png" alt="" />
                                                           </a>
                                                        </div>
                                                        <div class="p-content">
                                                            <div class="ct-body">
                                                                <h3>Dish Name one</h3>
                                                                <p>This is dummy copy. It is not meant to be read. It has been placed here solely to demonstrate the look and feel of finished, typeset text. Only for show.</p>
                                                            </div>
                                                            <div class="ct-ftr">
                                                                <ul>
                                                                    <li class="d-status">
                                                                        Home
                                                                        <span>Delivary</span>
                                                                    </li>
                                                                    <li class="d-cnt"><a href="#">1-008 005 006</a></li>
                                                                    <li class="d-price"><span>$</span>89.00</li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                  </li>
                                              </ul>
                                          </b-carousel-slide>
                                          <b-carousel-slide>
                                              <ul>
                                                  <li style="width: 100%;">
                                                        <div class="p-img">
                                                          <a class="product-box" href="https://images.deliveryhero.io/image/fd-pk/LH/v5qm-listing.jpg">
                                                                <img class="img-fluid" src="/images/fd-1.png" alt="" />
                                                           </a>
                                                        </div>
                                                        <div class="p-content">
                                                            <div class="ct-body">
                                                                <h3>Dish Name one</h3>
                                                                <p>This is dummy copy. It is not meant to be read. It has been placed here solely to demonstrate the look and feel of finished, typeset text. Only for show.</p>
                                                            </div>
                                                            <div class="ct-ftr">
                                                                <ul>
                                                                    <li class="d-status">
                                                                        Home
                                                                        <span>Delivary</span>
                                                                    </li>
                                                                    <li class="d-cnt"><a href="#">1-008 005 006</a></li>
                                                                    <li class="d-price"><span>$</span>89.00</li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                  </li>
                                              </ul>
                                          </b-carousel-slide>
                                          <b-carousel-slide>
                                              <ul>
                                                  <li style="width: 100%;">
                                                        <div class="p-img">
                                                          <a class="product-box" href="https://images.deliveryhero.io/image/fd-pk/LH/v5qm-listing.jpg">
                                                                <img class="img-fluid" src="/images/fd-1.png" alt="" />
                                                           </a>
                                                        </div>
                                                        <div class="p-content">
                                                            <div class="ct-body">
                                                                <h3>Dish Name one</h3>
                                                                <p>This is dummy copy. It is not meant to be read. It has been placed here solely to demonstrate the look and feel of finished, typeset text. Only for show.</p>
                                                            </div>
                                                            <div class="ct-ftr">
                                                                <ul>
                                                                    <li class="d-status">
                                                                        Home
                                                                        <span>Delivary</span>
                                                                    </li>
                                                                    <li class="d-cnt"><a href="#">1-008 005 006</a></li>
                                                                    <li class="d-price"><span>$</span>89.00</li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                  </li>
                                              </ul>
                                          </b-carousel-slide>


                                    </b-carousel>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- <section class="big-img">
            <div class="container">
                <div class="inner">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="info-box">
                                <h3>Explore Our All Delicious Dishes</h3>
                                <a href="#" class="custom-btn">view all <i class="fas fa-long-arrow-alt-right"></i></a>
                            </div>
                        </div>
                        <div class="col-md-9">
                            <div class="img-box">
                                <img src="https://i.ibb.co/9YY03V5/Png-Item-2134541.png">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section> -->
<!--        <section class="menu-box">-->
<!--            <div class="container">-->
<!--                <div class="menus">-->
<!--                    <div class="title">-->
<!--                        <h3>Our Food Menu</h3>-->
<!--                        <p></p>-->
<!--                    </div>-->
<!--                    <div class="menu-area">-->
<!--                        <div class="row">-->
<!--                            <div class="col-md-6">-->
<!--                                <div class="menu-card">-->
<!--                                    <h3 class="tt">Traditional Fish & Chips</h3>-->
<!--                                    <ul>-->
<!--                                        <li>-->
<!--                                            <h3>Fresh Large COD <span>£5.80</span> </h3>-->

<!--                                        </li>-->
<!--                                        <li class="special">-->
<!--                                            <h3>Fresh Large COD & Chips <span>£7.50</span></h3>-->

<!--                                        </li>-->
<!--                                        <li>-->
<!--                                            <h3>Masala COD Fish <span>£5.80</span></h3>-->

<!--                                        </li>-->
<!--                                        <li>-->
<!--                                            <h3>Masala COD Fish in Nan  <span>£7.50</span></h3>-->

<!--                                        </li>-->

<!--                                        <li>-->
<!--                                            <h3>Fish Cake  <span>£1.40</span></h3>-->

<!--                                        </li>-->

<!--                                        <li>-->
<!--                                            <h3>Sausage <span>£1.40</span></h3>-->

<!--                                        </li>-->


<!--                                    </ul>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                            <div class="col-md-6">-->
<!--                                <div class="menu-card">-->
<!--                                    <h3 class="tt">S. F. Chicken</h3>-->
<!--                                    <ul>-->
<!--                                        <li>-->
<!--                                            <h3>1 Piece Chicken <span>£1.40</span></h3>-->

<!--                                        </li>-->
<!--                                        <li class="special">-->
<!--                                            <h3>2 Pieces Chicken <span>£2.60</span></h3>-->

<!--                                        </li>-->
<!--                                        <li>-->
<!--                                            <h3>3 Pieces Chicken<span>£3.50</span></h3>-->

<!--                                        </li>-->
<!--                                        <li>-->
<!--                                            <h3>1 Piece Chicken & Chips <span>£2.50</span></h3>-->

<!--                                        </li>-->

<!--                                        <li>-->
<!--                                            <h3>2 Pieces Chicken & Chips <span>£3.60</span></h3>-->

<!--                                        </li>-->
<!--                                        <li>-->
<!--                                            <h3>3 Pieces Chicken & Chips <span>£4.50</span></h3>-->

<!--                                        </li>-->

<!--                                    </ul>-->
<!--                                </div>-->
<!--                            </div>-->

<!--                        </div>-->
<!--                        <div class="row">-->
<!--                            <div class="col-md-12 text-center mt-5">-->
<!--                                <a href="#" class="btn btn-primary cstm-btn">Explore Menu</a>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </section>-->
        <!-- <section class="covid-section mt-5">
            <div class="container">
                <div class="title">
                    <h3>Covid 19</h3>
                    <h3>Collection offers</h3>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="box red">
                            <h5>
                                2x 9inch (6 slice) Pizzas
                                <span>£ 6.49</span>
                            </h5>
                            <h5>
                                2x 12 inch (8slice) Pizzas
                                <span>£9.99</span>
                            </h5>
                            <h5>
                                2x 16 (12 Slice) Pizzas
                                <span>£12.99</span>
                            </h5>
                            <h5>  (Upto 5 toppings or a set pizza off the menu)</h5>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="box yellow">
                            <h5>
                                3x 9inch (6slice) pizzas
                                <span>£9.49</span>
                            </h5>
                            <h5>
                                3x 12 inch (8slice) Pizzas
                                <span>£13.99</span>
                            </h5>
                            <h5>
                                3x 16 (12 Slice) Pizzas
                                <span>£18.99</span>
                            </h5>
                            <h5>
                                (Upto 5 toppings or a set pizza off the menu)
                            </h5>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 text-center callnow">
                        <p>Call and Collect offer Limited time only <a href="tel:0121 2422020">0121 2422020</a></p>
                    </div>
                </div>
            </div>
        </section> -->



        <!-- Portfolio-->
        <div class="gallery">
            <div class="container">
                <div class="gallery-area">
                    <div class="title">

                        <h3>Discover Our Gallery</h3>
                        <p>This is dummy copy. It is not meant to be read. It has been placed here solely to demonstrate the look and feel of finished, typeset text. Only for show. He who searches for meaning here will be sorely disappointed. </p>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="p-carousel gallery-car">
                                <div class="for-desktop">
                                    <b-carousel
                                          id="carousel-3"
                                          v-model="slide"
                                          :interval="2000"
                                          controls
                                          style="text-shadow: 1px 1px 2px #333;"
                                          @sliding-start="onSlideStart"
                                          @sliding-end="onSlideEnd">

                                          <b-carousel-slide>
                                              <ul>
                                                  <li>
                                                      <a class="portfolio-box" href="https://images.deliveryhero.io/image/fd-pk/LH/s1gg-listing.jpg">
                                                        <img class="img-fluid" src="/images/fd-1.png" alt="" />
                                                    </a>
                                                  </li>
                                                  <li>
                                                      <a class="portfolio-box" href="https://images.deliveryhero.io/image/fd-pk/LH/n7ng-listing.jpg">
                                                        <img class="img-fluid" src="/images/fd-2.png" alt="" />
                                                    </a>
                                                  </li>
                                                  <li>
                                                      <a class="portfolio-box" href="https://images.deliveryhero.io/image/fd-pk/LH/v5qm-listing.jpg">
                                                        <img class="img-fluid" src="/images/fd-3.png" alt="" />
                                                    </a>
                                                  </li>
                                                  <li>
                                                      <a class="portfolio-box" href="https://images.deliveryhero.io/image/fd-pk/LH/s5vg-listing.jpg">
                                                        <img class="img-fluid" src="/images/fd-1.png" alt="" />
                                                    </a>
                                                  </li>
                                              </ul>
                                          </b-carousel-slide>
                                          <b-carousel-slide>
                                              <ul>
                                                  <li>
                                                      <a class="portfolio-box" href="https://images.deliveryhero.io/image/fd-pk/LH/s1gg-listing.jpg">
                                                        <img class="img-fluid" src="/images/fd-1.png" alt="" />
                                                    </a>
                                                  </li>
                                                  <li>
                                                      <a class="portfolio-box" href="https://images.deliveryhero.io/image/fd-pk/LH/n7ng-listing.jpg">
                                                        <img class="img-fluid" src="/images/fd-2.png" alt="" />
                                                    </a>
                                                  </li>
                                                  <li>
                                                      <a class="portfolio-box" href="https://images.deliveryhero.io/image/fd-pk/LH/v5qm-listing.jpg">
                                                        <img class="img-fluid" src="/images/fd-3.png" alt="" />
                                                    </a>
                                                  </li>
                                                  <li>
                                                      <a class="portfolio-box" href="https://images.deliveryhero.io/image/fd-pk/LH/s5vg-listing.jpg">
                                                        <img class="img-fluid" src="/images/fd-1.png" alt="" />
                                                    </a>
                                                  </li>
                                              </ul>
                                          </b-carousel-slide>

                                    </b-carousel>
                                </div>
                                <div class="for-mob">
                                    <b-carousel
                                          id="carousel-3"
                                          v-model="slide"
                                          :interval="2000"
                                          controls
                                          style="text-shadow: 1px 1px 2px #333;"
                                          @sliding-start="onSlideStart"
                                          @sliding-end="onSlideEnd">

                                          <b-carousel-slide>
                                              <a class="portfolio-box" href="https://images.deliveryhero.io/image/fd-pk/LH/s1gg-listing.jpg">
                                                        <img class="img-fluid" src="/images/fd-1.png" alt="" />
                                               </a>
                                          </b-carousel-slide>
                                          <b-carousel-slide>
                                            <a class="portfolio-box" href="https://images.deliveryhero.io/image/fd-pk/LH/n7ng-listing.jpg">
                                                        <img class="img-fluid" src="/images/fd-2.png" alt="" />
                                                    </a>
                                          </b-carousel-slide>

                                    </b-carousel>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- <div class="row">
                        <div class="col-lg-3 col-sm-6 mb-4">
                            <a class="portfolio-box" href="https://images.deliveryhero.io/image/fd-pk/LH/v5qm-listing.jpg">
                                <img class="img-fluid" src="https://images.deliveryhero.io/image/fd-pk/LH/v5qm-listing.jpg?width=400&height=292" alt="" />
                            </a>
                        </div>
                        <div class="col-lg-3 col-sm-6 mb-4">
                            <a class="portfolio-box" href="https://images.deliveryhero.io/image/fd-pk/LH/s5vg-listing.jpg">
                                <img class="img-fluid" src="https://images.deliveryhero.io/image/fd-pk/LH/s5vg-listing.jpg?width=400&height=292" alt="" />
                            </a>
                        </div>
                        <div class="col-lg-3 col-sm-6 mb-4">
                            <a class="portfolio-box" href="https://images.deliveryhero.io/image/fd-pk/LH/n7ng-listing.jpg">
                                <img class="img-fluid" src="https://images.deliveryhero.io/image/fd-pk/LH/n7ng-listing.jpg?width=400&height=292" alt="" />
                            </a>
                        </div>
                        <div class="col-lg-3 col-sm-6 mb-4">
                            <a class="portfolio-box" href="https://images.deliveryhero.io/image/fd-pk/LH/s1gg-listing.jpg">
                                <img class="img-fluid" src="https://images.deliveryhero.io/image/fd-pk/LH/s1gg-listing.jpg?width=400&height=292" alt="" />
                            </a>
                        </div>
                        <div class="col-lg-3 col-sm-6 mb-4">
                            <a class="portfolio-box" href="https://images.deliveryhero.io/image/fd-pk/LH/s1gg-listing.jpg">
                                <img class="img-fluid" src="https://images.deliveryhero.io/image/fd-pk/LH/s1gg-listing.jpg?width=400&height=292" alt="" />
                            </a>
                        </div>
                        <div class="col-lg-3 col-sm-6 mb-4">
                            <a class="portfolio-box" href="https://images.deliveryhero.io/image/fd-pk/LH/n7ng-listing.jpg">
                                <img class="img-fluid" src="https://images.deliveryhero.io/image/fd-pk/LH/n7ng-listing.jpg?width=400&height=292" alt="" />
                            </a>
                        </div>
                        <div class="col-lg-3 col-sm-6 mb-4">
                            <a class="portfolio-box" href="https://images.deliveryhero.io/image/fd-pk/LH/v5qm-listing.jpg">
                                <img class="img-fluid" src="https://images.deliveryhero.io/image/fd-pk/LH/v5qm-listing.jpg?width=400&height=292" alt="" />
                            </a>
                        </div>
                        <div class="col-lg-3 col-sm-6 mb-4">
                            <a class="portfolio-box" href="https://images.deliveryhero.io/image/fd-pk/LH/s5vg-listing.jpg">
                                <img class="img-fluid" src="https://images.deliveryhero.io/image/fd-pk/LH/s5vg-listing.jpg?width=400&height=292" alt="" />
                            </a>
                        </div>
                    </div> -->
                </div>
            </div>
        </div>

        <!-- <section class="reservation">
            <div class="container">
                <div class="table-booked pattern">
                    <div class="row">
                        <div class="col-md-6">
                                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2429.2156154533595!2d-1.822215984654894!3d52.49333647980907!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4870bae64827134d%3A0x2e1a51de3c022c50!2s888a%20Washwood%20Heath%20Rd%2C%20Ward%20End%2C%20Birmingham%20B8%202NB%2C%20UK!5e0!3m2!1sen!2s!4v1592827053509!5m2!1sen!2s" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0" width="100%" height="450"></iframe>
                        </div>
                        <div class="col-md-6">
                            <div class="form-box">
                                <div class="title">
                                    <h3>Contact us</h3>
                                    <p>888 Washwood Heath Road, Fox & Goose (Opposite BP) B8 2NB.</p>
                                    <p>0121 242 2020.</p>
                                </div>
                                <form>
                                    <div class="frm-body">
                                        <div class="form-row">
                                            <div class="form-group col-md-6">
                                                <label for="">Name</label>
                                                <input type="text" class="form-control" id="" placeholder="Your Name*">
                                            </div>
                                            <div class="form-group col-md-6">
                                                <label>Email</label>
                                                <input type="email" class="form-control" id="" placeholder="your email *">
                                            </div>
                                        </div>
                                        <div class="form-row">
                                            <div class="form-group col-md-6">
                                                <label for="">Address</label>
                                                <input type="text" class="form-control" id="" placeholder="Address">
                                            </div>
                                            <div class="form-group col-md-6">
                                                <label>Number</label>
                                                <input type="phone" class="form-control" id="" placeholder="Number">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="frm-ftr text-center mt-4">
                                        <button class="custom-btn">Submit <i class="fas fa-long-arrow-alt-right"></i></button>
                                    </div>

                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section> -->
        <footer-menu></footer-menu>
    </div>
</template>

<script>
    import VueGallery from 'vue-gallery';
    import {
        Hooper,
        Slide,
        Navigation as HooperNavigation
    } from 'hooper';

    import 'hooper/dist/hooper.css';
    export default {
        components: {
            Hooper,
            Slide,
            HooperNavigation,
            'gallery': VueGallery,
        },
        data: function () {
            return {
                images: [
                    '../../images/mainbanner1.jpeg',
                    '../../images/image00003.jpg',
                ],
                stories: [],
                index: null,
                showPopup: false,
                menu: false,
                allergy: false
            };
        },
        mounted() {
            this.getStory();
            console.log('Component mounted.')
        },
        methods: {
            getStory(){
                let  _this = this
                _this.loading  = true;
                axios.get('/api/our-story')
                    .then((response) => {
                        _this.stories =  response.data.data;
                        _this.loading  = false;
                    });
            },

        }
    }
</script>

